<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProteinTrackingServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64018/ProteinTrackingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProteinTrackingServiceSoap"
                contract="ServicioControlProteinas.ProteinTrackingServiceSoap"
                name="ProteinTrackingServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>